.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}